@use './vars' as *;

header {
  font-size: 14px;
  color: $text-header-primary;
  .top-bar{
    line-height: 35px;
    .phone-numbers a.tel-num {
      color: $text-header-primary;
    }
  }
  .bottom-bar {
    .center {
      line-height: 52px;
      nav.menu ul li {
        &.active {
          font-weight: 600;
        }
        a {
          color: #000000;
          font-family: 'Nunito', sans-serif;
        }
      }
    }
    .right {
      text-align: right;
      a {
        color: $green-primary;
        font-size: 16px;
      }
    }
  }
}

main {
  .special-title {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 6px;
  }
  .title {
    font-family: 'Quicksand', sans-serif;
    font-size: 63px;
  }
  a {
    color: $bg-black-primary;
  }
  .para {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
  .we-are {
    ul li {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

p.quote {
  color: $green-primary;
  font-size: 10rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p.quote::before {
  content: '\201C';
}

.input-box {
  #email-input {
    line-height: 56px;
    font-size: 16px;    
    color: $text-header-primary;
  }
  .btn_outline {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: $text-footer-primary;
  }
}