$bg-header-primary: #3D3D3D;
$bg-main-primary: #F9F9F9;

$text-header-primary: #FFFFFF;
$text-header-secondary: #FFFFFF59;
$text-footer-primary: #AAAAAA;
$text-footer-secondary: #555555;
$text-footer-tertiary: #444444;

$green-primary: #00D9A6;

$btn-text-primary: #FFFFFFB3;
$bg-black-primary: #000000E6;
$bg-black-secondary: #333333;