:root {
  --bg-header-primary: #3D3D3D;
  --text-header-primary: #FFFFFF;
  --text-header-secondary: #FFFFFF59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

/************ 
  UTILITIES 
************/

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-it-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}



.container {
  max-width: 1460px;
  margin: 0 auto;
}

/************ 
   HEADER 
************/
header {
  font-size: 14px;
  color: var(--text-header-primary);
}

header .top-bar {
  line-height: 35px;
  height: 39px;
  background-color: var(--bg-header-primary);
}

header .top-bar .container {
  padding-left: 30px;
}

header .top-bar .phone-numbers a.tel-num {

  color: var(--text-header-primary);

}

header .top-bar .phone-numbers a {
  margin-right: 10px;
}
/* 
header .top-bar .social-icons .social-icon-box {
  width: 25px;
  height: 25px;
} */

/* header .top-bar .social-icons {
  column-gap: 15px;
} */

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 10px;
}

nav ul li {
  display: flex;
}

nav ul li a {
  align-self: self-start;
  width: 25px;
  color: var(--text-header-primary);
  cursor: pointer;
}

nav ul li a:visited {
  color: var(--text-header-primary);
}