:root {
  --bg-header-primary: #3D3D3D;
  --bg-main-primary: #F9F9F9;

  --text-header-primary: #FFFFFF;
  --text-header-secondary: #FFFFFF59;
  --text-footer-primary: #AAAAAA;
  --text-footer-secondary: #555555;
  --text-footer-tertiary: #444444;

  --green-primary: #00D9A6;

  --btn-text-primary: #FFFFFFB3;
  --bg-black-primary: #000000E6;
  --bg-black-secondary: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}


/************ 
  UTILITIES 
************/

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-it-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

/** DIVIDER **/
.line::before {
  /* margin-left: 2px; */
  display: inline-block;
  content: '';
  height: 5px;
  border-radius: 25px;
  overflow: hidden;
  /* background-color: red; */
  background-image: linear-gradient(#97E15F 0% 26%, #0a8a6c 80% 100%);
}
.line.short::before {
  width: 8px;
  margin-right: 10px;
}

.line.long::before {
  width: 48px;
}



.debug {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid black;
}



.container {
  max-width: 1460px;
  margin: 0 auto;
}

.btn_ctm {
  display: inline-block;
  padding: 17px 46px;
  border: none;
  border-radius: 25px;
  font-size: 13px;
  color: var(--text-header-primary);
}

.green {
  background-image: linear-gradient(90deg, #97E15F 7%, #00D9A6 100%);
}

/************ 
   HEADER 
************/
header {
  font-size: 14px;
  color: var(--text-header-primary);
}



/************ 
   HEADER TOP-BAR
************/
header .top-bar {
  line-height: 35px;
  height: 39px;
  background-color: var(--bg-header-primary);
}

header .top-bar .container {
  padding-left: 30px;
}

header .top-bar .phone-numbers a.tel-num {
  color: var(--text-header-primary);
}

header .top-bar .phone-numbers a {
  margin-right: 10px;
}
/* 
header .top-bar .social-icons .social-icon-box {
  width: 25px;
  height: 25px;
} */

/* header .top-bar .social-icons {
  column-gap: 15px;
} */

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 10px;
}

nav ul li {
  display: flex;
}

nav ul li a {
  align-self: self-start;
  width: 25px;
  color: var(--text-header-primary);
  cursor: pointer;
}

nav ul li a:visited {
  color: var(--text-header-primary);
}

/************ 
   HEADER BOTTOM-BAR
************/

header .bottom-bar {
  height: 104px;
  background-color: var(--text-header-primary);
}

header .bottom-bar .container {
  height: 100%;
}

header .bottom-bar .left,
header .bottom-bar .right {
  flex-basis: 20%;
  height: 50%;
}

header .bottom-bar .left .logo {
  height: 100%;
  line-height: 52px;

}

header .bottom-bar .left .logo img {
  height: 85%;
  vertical-align: middle;
}

header .bottom-bar .center {
  /* flex-grow: 1; */
  line-height: 52px;

}

header .bottom-bar nav.menu ul {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

header .bottom-bar nav.menu ul li {
  display: inline-block;
}

header .bottom-bar nav.menu ul li a {
  color: #000000;
  font-family: 'Nunito', sans-serif;
}

header .bottom-bar .right {
  text-align: right;
}

header .bottom-bar .right .btn_ctm {
  margin-right: 30px;
}

header .bottom-bar .right a {
  color: var(--green-primary);
  font-size: 16px;
}


/************ 
   MAIN
************/
main {
  background-color: var(--bg-main-primary);
}



/************ 
   FOOTER
************/
footer {
  margin-top: 155px;
  height: 100%;
  /* box-shadow: 10px 0 24px 0 rgba(0,0,0,.2); */
}

footer p {
  color: var(--text-footer-secondary);
  margin-bottom: 30px;
}
footer ul li a {
  width: fit-content;
}
footer a {
  color: var(--text-footer-secondary);
}

footer a:visited {
  color: var(--text-footer-secondary);
}

footer .top-bar {
  width: 100%;
  margin-bottom: 115px;
}

footer .top-bar .box {
  position: relative;
  height: 300px;
  width: 370px;
}

footer .top-bar .box p,
footer .top-bar .box nav a {
  font-size: 16px;
  color: var(--text-footer-secondary);
  line-height: 22px;
}

footer .top-bar .box .divider {
  margin-bottom: 30px;
}

footer .top-bar .box ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .top-bar .box .title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
  color: var(--text-footer-tertiary);
  margin-bottom: 13px;
}

footer .top-bar .box .text-box {
  margin-top: 10px;
}

footer .top-bar .box .img-box {
  width: 100%;
  height: fit-content;
}

footer .top-bar .box .img-box img {
  width: 100%;
  object-fit: cover;
}


footer .bottom-bar {
  height: 107px;
  color: var(--text-footer-primary);
  background: linear-gradient(90deg, var(--bg-black-secondary) 15%, var(--bg-black-primary) 100%);
} 

footer .bottom-bar .container {
  height: 100%;
} 

footer .bottom-bar span {
  font-size: 14px;
}

footer .bottom-bar a {
  color: var(--text-footer-primary);
} 

footer .bottom-bar a:visited {
  color: var(--text-footer-primary);
} 
