:root {
  --bg-header-primary: #3D3D3D;
  --text-header-primary: #FFFFFF;
  --text-header-secondary: #FFFFFF59;
  --text-footer-primary: #AAAAAA;

  --green-primary: #00D9A6;

  --btn-text-primary: #FFFFFFB3;
  --bg-black-primary: #000000E6;
  --bg-black-secondary: #0000008a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

/************ 
  UTILITIES 
************/

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-it-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.debug {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid black;
}



.container {
  max-width: 1460px;
  margin: 0 auto;
}

.btn_ctm {
  display: inline-block;
  padding: 17px 46px;
  border: none;
  border-radius: 25px;
  font-size: 13px;
  color: var(--text-header-primary);
}

.green {
  background-image: linear-gradient(90deg, #97E15F 7%, #00D9A6 100%);
}

/************ 
   HEADER 
************/
header {
  font-size: 14px;
  color: var(--text-header-primary);
}



/************ 
   HEADER TOP-BAR
************/
header .top-bar {
  line-height: 35px;
  height: 39px;
  background-color: var(--bg-header-primary);
}

header .top-bar .container {
  padding-left: 30px;
}

header .top-bar .phone-numbers a.tel-num {
  color: var(--text-header-primary);
}

header .top-bar .phone-numbers a {
  margin-right: 10px;
}
/* 
header .top-bar .social-icons .social-icon-box {
  width: 25px;
  height: 25px;
} */

/* header .top-bar .social-icons {
  column-gap: 15px;
} */

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 10px;
}

nav ul li {
  display: flex;
}

nav ul li a {
  align-self: self-start;
  width: 25px;
  color: var(--text-header-primary);
  cursor: pointer;
}

nav ul li a:visited {
  color: var(--text-header-primary);
}

/************ 
   HEADER BOTTOM-BAR
************/

header .bottom-bar {
  height: 104px;
  background-color: var(--text-header-primary);
}

header .bottom-bar .container {
  height: 100%;
}

header .bottom-bar .left,
header .bottom-bar .right {
  flex-basis: 20%;
  height: 50%;
}

header .bottom-bar .left .logo {
  height: 100%;
  line-height: 52px;

}

header .bottom-bar .left .logo img {
  height: 85%;
  vertical-align: middle;
}

header .bottom-bar .center {
  /* flex-grow: 1; */
  line-height: 52px;

}

header .bottom-bar nav.menu ul {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

header .bottom-bar nav.menu ul li {
  display: inline-block;
}

header .bottom-bar nav.menu ul li a {
  color: #000000;
  font-family: 'Nunito', sans-serif;
}

header .bottom-bar .right {
  text-align: right;
}

header .bottom-bar .right .btn_ctm {
  margin-right: 30px;
}

header .bottom-bar .right a {
  color: var(--green-primary);
  font-size: 16px;
}


/************ 
   FOOTER
************/
footer {
  height: 107px;
  background: linear-gradient(90deg, var(--bg-black-secondary) 15%, var(--bg-black-primary) 100%);
}

footer .bottom-bar {
  height: 100%;
  color: var(--text-footer-primary);
} 

footer .bottom-bar .container {
  height: 100%;
} 

footer .bottom-bar a {
  color: var(--text-footer-primary);
} 

footer .bottom-bar a:visited {
  color: var(--text-footer-primary);
} 